@model Primer_WebApi.Models.Product

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<div class="content"
    <div class="float-left">
        <ul id="update-products">
            <li>
                <div><div class="item">Id produkta</div><span></span></div>
                <div><div class="item">Ime</div><input type="text"/></div>
                <div><div class="item">Cena</div><input type="text"/></div>
                <div><div class="item">Strošek</div><input type="text"/></div>
                <input type="button" value="Posodobi"/>
                <input type="button" value="Briši/>"
            </li>
        </ul>
    </div>
</div>

